//- Объявление переменной pageNum для отслеживания номера страницы
- var pageNum = 1;

//- Счетчик для подвала страницы
style.
  body {
    counter-reset: footer;
  }
  footer {
    counter-increment: footer;
  }
  footer::before {
    content: "Footer " counter(footer);
  }

//- Ваш контент страницы
doctype html
html(lang="en")
  head
    title My PDF
    style.
      @media print {
        .page-break { page-break-after: always; }
      }
      body {
        counter-reset: footer;
        font-family: Serif;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th, td {
        border: 1px solid #333;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      footer {
        position: fixed;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }

  body
    //- Ваш контент страницы
    div(style="text-align: right;")
      p(style="text-align: center;display: inline-block;") 
        | Қазақстан Республикасының
        br
        | Қарулы Күштеріндегі дене шынықтыру
        br
        | дайындығы қағидаларына
        br
        | 9-қосымша
    
    // Заголовок таблицы (по центру)
    p(style="text-align: center; margin-top: 100px") 
      | ӘСК жаттығуларын орындауын есепке алу
      br
      | <strong>арнайы ведомосы</strong>

    // Таблица
    table
      thead
        tr
          th(colspan='1' rowspan='4' style='text-align: center;') 
            | Р/c
            br
            | №
          
          th(colspan='1' rowspan='4' style='text-align: center;')
            | Әскери
            br
            | атағы
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Тегі және инициалдары
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Жас ерекшелігі тобы
          th(colspan='6') Орындалған жаттығулардың нәтижелері
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Жалпы балл
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Орташа балл
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') ӘСК дәрежесі
        tr
          th(colspan='2') 1
          th(colspan='2') 2
          th(colspan='2') 3
        tr
          th(colspan='2') Жат 1
          th(colspan='2') Жат 2
          th(colspan='2') Жат 3
        
        tr
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл

      tbody
        tr
          td=1
          td=zvanie
          td=fioWithInitials
          td=category
          td
          td 
          td 
          td 
          td 
          td 
          td 
          td 
          td=comment


    //- Колонтитул
    footer
      p(style="text-align: center;") Страница #{pageNum}

    //- Разрыв страницы
    div.page-break

    //- Таблица (продолжение, если есть)
    // Таблица
    table
      thead
        tr
          th(colspan='1' rowspan='4' style='text-align: center;') 
            | Р/c
            br
            | №
          
          th(colspan='1' rowspan='4' style='text-align: center;')
            | Әскери
            br
            | атағы
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Тегі және инициалдары
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Жас ерекшелігі тобы
          th(colspan='6') Орындалған жаттығулардың нәтижелері
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Жалпы балл
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Орташа балл
          th(colspan='1' rowspan='4' style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') ӘСК дәрежесі
        tr
          th(colspan='2') 1
          th(colspan='2') 2
          th(colspan='2') 3
        tr
          th(colspan='2') Жат 1
          th(colspan='2') Жат 2
          th(colspan='2') Жат 3
        
        tr
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл
          th(style='text-align: center;')
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Нәтиже
          th(style='text-align: center;') 
            div(style='writing-mode: vertical-lr;transform: scaleY(-1) scaleX(-1);margin-left: auto; margin-right: auto;') Балл

      tbody
        tr
          td=1
          td=zvanie
          td=fioWithInitials
          td=category
          td
          td 
          td 
          td 
          td 
          td 
          td 
          td 
          td=comment
//- JavaScript для увеличения номера страницы перед разрывом страницы
script.
  pageNum++;